<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>What are the advantages of online shopping for consumer?</h3>
      <p>
        The consumer, in case of online shopping can buy the selected product rapidly by doing some clicks from home or work
        saving time and energy in spite of the larger distance arising from the endless and unlimited market offered by the
        internet. In addition, the internet can also facilitate the shopping of consumers with reduced mobility. Since the
        consumer does not have to go to the premises of the trader, and is not limited by the opening hours, he/she can place
        an order at all times. Such items can also be purchased that are not available in the surroundings of the consumer,
        thus the choice of goods is significantly broader, and furthermore the delivery can be requested not only to the place
        of residence but to the workplace, as well. The offers on the internet can be easily compared, therefore the consumer
        can buy the product with the most favourable conditions (price, quality, other discounts) tailored to the individuals
        needs.
      </p>
      <p><b>
        “Our shop is better than any other platform we’ve played with, and we’ve played with them all.”
      </b>
      </p>
    </div>
  </div>
</div>


